* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #00f7ff;
  --sec-color: #21a4b6;
  --light-color: #409fac9f;
}

.route {
  opacity: 0;
  visibility: none;
  width: 1rem;
  height: 1rem;
  margin: 5rem 0;
}

.present {
  text-decoration: underline;
  color: aqua;
}

#Home {
  position: absolute;
  top: 0;
}

.myBtn {
  padding: 0.4rem 1.2rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--main-color);
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid var(--main-color);
}

.myBtn:hover {
  cursor: pointer;
  color: var(--sec-color);
  background-color: var(--main-color);
}

.myBg {
  background-color: black;
}

.hfont {
  font-family: sans-serif;
  font-weight: bolder;
}

.tfont {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.mainBg {
  background-color: var(--main-color);
}

.mainColor {
  color: var(--main-color);
}

.marginTsmall {
  margin-top: 5rem;
}

.marginBsmall {
  margin-bottom: 5rem;
}

.marginT {
  margin-top: 15rem;
}

.marginB {
  margin-bottom: 15rem;
}

.marginY {
  margin-top: 15rem;
  margin-bottom: 15rem;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Navbar Starts */

.logo {
  width: 5rem;
  height: 5rem;
}

.fixnav {
  position: sticky;
  top: -1.7rem;
  left: 0;
  right: 0;
  z-index: 11;
}

.navBar {
  border-radius: 0.3rem;
  padding: 10px 20px;
  z-index: 10;
}

.brandText {
  color: var(--sec-color);
  font-size: 2rem;
  font-weight: lighter;
  font-family: fantasy;
  letter-spacing: 2px;
  position: relative;
  top: 0.3rem;
}

.brandText:hover {
  color: var(--main-color);
  transition: all 300ms;
}

.navHover {
  font-size: large;
}

.navHover:hover {
  text-decoration: underline;
  color: var(--main-color);
  transition: all 300ms;
}

/* Navbar Ends */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Home Starts */

.writer-txt {
  color: var(--main-color);
}

.sub-txt {
  color: #fff;
}

.Btn {
  width: 7rem;
  background-color: var(--light-color);
}

.bigFont {
  font-size: 5rem;
}

.homeLogo {
  width: 40rem;
  height: 40rem;
}

.backText {
  color: var(--main-color);
  opacity: 0.2;
  position: absolute;
  top: 20%;
  font-size: 12rem;
  left: 25%;
  z-index: 1;
  font-weight: bolder;
  font-family: sans-serif;
}

.zindex-2 {
  z-index: 2;
}

/* Home Ends */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Services Starts */

.smallFont {
  font-size: 3rem;
}

.servicesPic {
  width: 20rem;
  height: 15rem;
  border-radius: 0.5rem;
}

.item {
  border: 2px solid var(--main-color);
  width: 23rem;
  box-shadow: 0px 0px 10px 5px var(--light-color);
  padding: 10px;
  border-radius: 0.5rem;
  margin: 0.5rem 1rem;
  transition-duration: 100ms;
}

.item:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px var(--main-color);
  transform: scale(102%);
  transition-duration: 500ms;
}

/* Services Ends */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* About us Starts */

.aboutImage {
  width: 40rem;
  height: 30rem;
  border-radius: 1rem;
  border: 1px solid var(--main-color);
}

.aboutItem1 {
  margin-right: 2rem;
}

/* About us Ends */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Pricing Starts */

.pricingH {
  font-size: x-large;
  font-weight: bold;
}

.pricingSubTxt {
  margin: 2px 0;
}

.pricingSubH {
  font-size: xx-large;
}

.pricingBtn {
  margin: 1rem 0;
  background-color: transparent;
  color: #fff;
  padding: 3px 0;
  border-bottom: 1px solid #fff;
  font-size: 1.2rem;
  font-weight: bolder;
}

.pricingBtn:hover {
  color: var(--sec-color);
  border-color: var(--main-color);
  transition-duration: 1s;
}

/* Pricing Ends */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Review Starts */

.clientPic {
  width: 7rem;
  height: 7rem;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  margin: 2rem 0;
}

.clientText {
  padding: 0 10%;
  text-align: justify;
}

/* Review Ends */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Footer Starts */

.image-wrapper {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  margin: 1rem 1rem;
  border-radius: 5px;
  transition-duration: 200ms;
  background-color: var(--light-color);
}

.flogo {
  width: 2rem;
  height: 2rem;
}

.insta {
  position: relative;
  top: -5px;
}

.fb {
  width: 1.1rem;
  height: 1.1rem;
  position: relative;
  top: 3px;
}

.image-wrapper:hover {
  cursor: pointer;
  transition-duration: 300ms;
  background-color: var(--main-color);
  transform: translateY(-8px);
  box-shadow: 0px 0px 5px 2px var(--light-color);
}

.footerFont {
  color: #fff;
  font-weight: lighter;
}

.copy {
  font-size: 1.3rem;
}

/* Footer Ends */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* SCROLL BAR */

::-webkit-scrollbar {
  width: 10px;
  background-color: black;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--sec-color);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  border: 1px solid var(--main-color);
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: #161616d7;
}

::-webkit-scrollbar-corner {
  background-color: black;
}

/* SCROLL BAR */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Media Queries Starts */

@media only screen and (max-width: 300px) {
  .homeSec {
    flex-direction: column;
  }

  .logo {
    width: 2rem;
    height: 2rem;
  }

  .brandText {
    font-size: 1rem;
    letter-spacing: 0px;
  }

  .sub-txt {
    width: 100%;
  }

  .homeLogo {
    width: 100vw;
    height: 18rem;
  }

  .bigFont {
    font-size: 2.5rem;
  }

  .togglerIcon {
    padding: 1px;
  }

  .smallFont {
    font-size: 2rem;
  }

  .servicesPic {
    width: 70vw;
    height: 10rem;
  }

  .item {
    width: 80vw;
  }

  .aboutC {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .aboutImage {
    width: 80vw;
    height: 15rem;
    margin: 0 auto;
  }

  .aboutItem1 {
    margin-right: 0;
  }

  .pricingH {
    font-size: larger;
    font-weight: bold;
  }

  .pricingSubH {
    font-size: large;
  }

  .clientPic {
    width: 40vw;
    height: 7rem;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    margin: 2rem 0;
  }

  .logoscontainer {
    flex-direction: column;
  }

  .footerFont {
    color: #fff;
    font-weight: lighter;
    font-size: small;
  }

  .copy {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 300px) and (max-width: 576px) {
  .homeSec {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .myBtn {
    margin: auto;
  }

  .logo {
    width: 3rem;
    height: 3rem;
  }

  .brandText {
    font-size: 1.6rem;
    letter-spacing: 1px;
  }

  .sub-txt {
    width: 100%;
  }

  .homeLogo {
    width: 18rem;
    height: 23rem;
  }

  .bigFont {
    font-size: 3.5rem;
  }

  .togglerIcon {
    padding: 2px 5px;
  }

  .servicesPic {
    width: 15rem;
    height: 10rem;
  }

  .item {
    width: 17rem;
  }

  .aboutC {
    align-items: center;
    flex-direction: column;
  }

  .aboutImage {
    width: 80vw;
    height: 15rem;
    margin: 0 auto;
  }

  .aboutItem1 {
    margin-right: 0;
  }

  .pricingH {
    font-size: larger;
    font-weight: bold;
  }

  .pricingSubH {
    font-size: x-large;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .homeSec {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .myBtn {
    margin: auto;
  }

  .sub-txt {
    width: 100%;
  }

  .homeLogo {
    width: 30rem;
    height: 30rem;
  }

  .bigFont {
    font-size: 3.5rem;
  }

  .aboutC {
    align-items: center;
    flex-direction: column;
  }

  .aboutImage {
    width: 30rem;
    height: 25rem;
    margin: 0 auto;
  }

  .aboutItem1 {
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .sub-txt {
    width: 100%;
  }

  .homeLogo {
    width: 30rem;
    height: 30rem;
  }

  .bigFont {
    font-size: 2.5rem;
  }

  .aboutC {
    text-align: center;
    flex-direction: column;
  }

  .aboutImage {
    width: 30rem;
    height: 25rem;
  }

  .aboutItem1 {
    margin-right: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .sub-txt {
    width: 60%;
  }

  .sub-txt {
    width: 100%;
  }

  .backText {
    top: 20%;
    font-size: 10rem;
    left: 20%;
  }

  .bigFont {
    font-size: 3rem;
  }

  .smallFont {
    font-size: 3rem;
  }

  .aboutC {
    text-align: justify;
  }

  .aboutImage {
    width: 30rem;
    height: 25rem;
  }
}
